.container {
    margin-left: 300px;
    margin-right: 300px
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

input {
    width: 70%;
    height: 30px;
    background-color: #EAEAEA;
    border: none;
    outline: none;
    color: #AAAAAA;
    padding-left: 10px
}

table {
    width: 100%;
}

.enable {
    width: 25%;
    border-radius: 3px;
    border: none;
    background-color: #EB4A42;
    outline: none;
    color: #FFF
}

.disable {
    width: 25%;
    border-radius: 3px;
    border: none;
    background-color: #E0E0E0;
    color: #BFBFBF
}

.tableHeader {
    color: #AAAAAA;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 10px;
    text-align: left;
}

.titleTextContainer {
    margin-top: 50px
}

.titleText {
    font-family: 'Montserrat';
    color: #555555;
    font-size: 16px
}

.spanText {
    color: #EB4A42;
    font-size: 12px;
    margin-left: 15px
}