.container {
    width: 70%;
    margin: 0 auto;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

input {
    width: 70%;
    height: 30px;
    background-color: #EAEAEA;
    border: none;
    outline: none;
    color: #AAAAAA;
    padding-left: 10px
}

table {
    width: 100%;
}

.enable {
    width: 25%;
    border-radius: 3px;
    border: none;
    background-color: #EB4A42;
    outline: none;
    color: #FFF
}

.disable {
    width: 25%;
    border-radius: 3px;
    border: none;
    background-color: #E0E0E0;
    color: #BFBFBF
}

.tableHeader {
    color: #AAAAAA;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 0.625em;
    text-align: left;
}

.titleTextContainer {
    margin-top: 50px
}

.titleText {
    font-family: 'Montserrat';
    color: #555555;
    font-size: 100%;
}

.spanText {
    color: #EB4A42;
    font-size: 0.750em;
    margin-left: 15px
}

.primaryText {
    font-family: 'Montserrat';
    color: #555555;
    font-size: 0.875em;
}

.secondaryText {
    font-family: 'Montserrat';
    font-size: 0.875em;
    color: #AAAAAA;
}