.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #EB4A42;
    font-size: 1.8em;
    font-family: 'Montserrat';
    text-decoration: underline
}

.subTitle {
    color: #CCCCCC;
    font-family: 'Montserrat';
    font-size: 0.7em;
}

@media only screen and (min-width: 425px) {
    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .title {
        font-size: 1em;
    }
    
    .subTitle {
         font-size: 0.2em; 
    }
}

@media only screen and (min-width: 555px) {
     .title {
        font-size: 1.5em;
    }
    
    .subTitle {
         font-size: 0.73em; 
    }
}

