.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #EB4A42;
    font-size: 180%;
    font-family: 'Montserrat';
    text-decoration: underline
}

.subTitle {
    color: #CCCCCC;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 70%;
}

/*display: flex;*/